.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    border:1px solid black;
}

.form__group-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    background: #fafafa;
    color: #aaa;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form__input--text input {
    height: 40px;
}

.form__input--textarea textarea {
    height: 180px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.result-table {
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
}

.result-table__inner {
    width: 100%;
}

.result-table__row {
    border-bottom: 1px solid #ddd;
}

.result-table__header {
    padding: 12px;
    width: 15%;
    text-align: left;
    font-weight: bold;
}

.result-table__header-span {
    margin-right: 40%;
}

.result-table__row {
    margin-right: 10px;
    width: 100%;
}

.result-table__item {
    margin: 0 auto;
}

.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 40%;
    line-height: 50%;
}

.update-form__item-input {
    width: 100%;
    outline: none;
    border: none;
}

.delete-form__button {
    width: 50px;
}

.delete-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: black;
    color: #fff;
    cursor: pointer;
}